$color-white: #f5f5f5;
$color-background: #2F4858;

$color-dark: #0000002a;

$color-theme: #e2a258;
$color-theme-dark: #ce8e45;

$color-red: rgb(252, 99, 107);
$color-red-dark: rgb(199, 52, 59);

$color-green: rgb(92, 228, 98);
$color-green-dark: rgb(69, 202, 76);

$color-incorrect: rgb(253, 119, 126);
